@import "node_modules/mathsass/dist/math";

$guitarAreaWidth: 400px;
$guitarWidth: 240px;
$pickAreaHeight: 100px;
$pickPicHeight: 130px;
$headstockHeight: 50px;
$noteLabelRadius: 12px;
@mixin fretHeight($n){
  height: 100% * 2 * (pow(2, (1-$n)/12) - pow(2, -$n/12));
}


*, :after, :before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  font-family: Arial,sans;
  background-color: #222;
  color: white;
}

.note-label {
  display: block;
  background-color: red;
  color: white;
  width: $noteLabelRadius * 2;
  height: $noteLabelRadius * 2;
  border-radius: $noteLabelRadius;
  overflow: hidden;
  font-size: $noteLabelRadius;
  font-weight: bold;
  
  //to center text vertically and horizontally because CSS is dumb
  line-height: $noteLabelRadius * 2;
  text-align: center;
}

#guitar-area {
  position: absolute;
  top: 0;
  left: 0;
  width: $guitarAreaWidth;
  height: 100%;
  
  #guitar {
    background-color: brown;
    position: absolute;
    margin: 0;
    top: 0;
    left: ($guitarAreaWidth - $guitarWidth) / 2;
    height: 100%;
    width: $guitarWidth;
    
    #headstock {
      background-color: brown;
      height: $headstockHeight;
      position: relative;
      border-bottom: 10px solid black;
      
      #capo {
        display: none;
      }
    }
    
    #fretboard {
      height: calc(100% - #{$pickAreaHeight + $headstockHeight});
      .fret {
        border-bottom: 3px solid #dd9;
        position: relative;
        
        @for $i from 1 through 12 {
          &.fret-#{$i} { @include fretHeight($i) }
        }
        
        &.fret-3, &.fret-5, &.fret-7, &.fret-9, &.fret-12 {
          background-image: url('img/fretboard-dots-1.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
        }
        &.fret-12 {
          background-image: url('img/fretboard-dots-2.svg');
        }
        
        #capo {
          position: absolute;
          bottom: 0;
          height: 20px;
          max-height: 30%;
          width: 100%;
          background-color: black;
          z-index: 150; //above the strings
        }
      }
    }
    
    #headstock .note, #fretboard .note {
      position: absolute;
      height:100%;
      top: 0;
      z-index: 200; //push above the strings
      .note-label {
        display: none;
        position: absolute;
        top: calc(50% - #{$noteLabelRadius});
        left: calc(50% - #{$noteLabelRadius});
        cursor: default;
      }
      
      &.active .note-label {
        display: block;
      }
    }
    
    #headstock .note:not(.active) .note-label {
      display: block;background-color: #ddd;
      color: #bbb;
    }
    
    #pick-area {
      position: relative;
      background-color: black;
      height: $pickAreaHeight;
      #pick {
        width: $pickAreaHeight;
        height: $pickAreaHeight;
        background-image: url(img/pick-pic.png);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 0;
        left: -$pickAreaHeight/2;
        z-index: 200; //put it above the strings
      }
    }
  }
  
  #strings {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 100;
    width: $guitarWidth;
    
    .string {
      position: absolute;
      &.static {
        top: 0;
      }
      
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}

#controls {
  position: absolute;
  top: 0;
  left: $guitarAreaWidth;
  width: calc(100% - #{$guitarAreaWidth});
  height: 100%;
  
  text-align: center;
  
  #title {
    font-size: 2.0em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  #options {
    margin-bottom: 10px;
  }
  
  #chords-played {
    table {
      border-collapse: collapse;
      margin: auto;
      
      tbody td, tbody th {
        border: 1px solid white;
        padding: 10px 20px;
        
        .note-label {
          margin: auto;
          margin-bottom: 10px;
        }
      }
    }
  }
}

#audio {
  display: none;
}
